<footer
  id="footer"
  class="w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto "
>
  <!-- Grid -->
  <div class="text-center">
    <div>
      <a
        class="flex-none text-xl font-fira-code text-white focus:outline-none"
        aria-label="Brand"
        >Thank you for visiting!</a
      >
    </div>
    <!-- End Col -->

    <div class="mt-3">
      <p class="text-white/20">
        © {{ date }} All rights reserved. <br>
        Made by Nirakash using Angular
      </p>
    </div>

    <!-- Social Brands -->
    <div class="mt-3 space-x-2">
      <a
        class="inline-flex justify-center items-center w-10 h-10 text-center rounded-full focus:outline-none transition text-white/20 hover:text-successgreen"
        href="https://github.com/Niracash"
        title="Github"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-github"></i>
      </a>
      <a
        class="inline-flex justify-center items-center w-10 h-10 text-center rounded-full focus:outline-none transition text-white/20 hover:text-successgreen"
        title="Linkedin"
        href="https://www.linkedin.com/in/nirakash/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-linkedin"></i>
      </a>
    </div>
    <!-- End Social Brands -->
  </div>
  <!-- End Grid -->
</footer>