<!-- about me with Stats -->
<div
  class="max-w-[85rem] lg:mt-auto px-4 py-8 sm:px-6 lg:px-8 lg:py-14 mx-auto"
>
  <div class="flex flex-col gap-16">
    <h1
      id="title"
      class="text-white font-fira-code text-center mb-10 text-2xl md:text-3xl lg:text-4xl font-bold bg-clip-text"
    >
      <span class="text-successgreen">1.0</span> About me
    </h1>
    <!-- Grid -->
    <div
      id="grid"
      class="flex flex-col lg:flex-row lg:items-center lg:space-x-8"
    >
      <div class="text-center mt-10 mb-16 lg:mt-0 lg:mb-0 lg:flex-shrink-0">
          <img
            class="rounded-3xl w-60 h-60 mx-auto lg:w-60 lg:h-60"
            src="../../../assets/images/nirakash.jpg"
            alt="Image Description"
            priority
          />
      </div>
      <!-- End Col -->

      <div>
        <!-- Blockquote -->
        <blockquote class="overflow-auto">
          <p
            class="text-lg p-6 rounded-3xl font-normal lg:text-2xl lg:leading-normal text-white"
          >
            I'm on my way to graduating in <span class="text-successgreen">computer engineering</span>, with a focus on <span class="text-successgreen">software</span> and <span class="text-successgreen">web development</span>. My skills include working with tools and languages like <span class="text-successgreen">Git</span>, <span class="text-successgreen">GitHub</span>, <span class="text-successgreen">Angular</span>, <span class="text-successgreen">C#</span>, and <span class="text-successgreen">Python</span>, as well as making sure everything works perfectly through end-to-end <span class="text-successgreen">unit testing</span>.<br>
            I like to keep things <span class="text-successgreen">organized</span>, enjoy tackling <span class="text-successgreen">challenges</span>, and pay close attention to the small details. My goal is simple: to become an expert <span class="text-successgreen">software developer</span>. I also have huge interest in <span class="text-successgreen">DevOps</span> and <span class="text-successgreen">Software engineering</span>.<br>
            Lately, I've been working on projects that deal with both the back end of websites, using <span class="text-successgreen">ASP.NET</span>, and the front end, using <span class="text-successgreen">Angular</span>. I'm excited to use my skills and passion for software development in a team that's as dedicated as I am. You can check out all my projects on my <a
            href="https://github.com/niracash"
            target="_blank"
            rel="noopener noreferrer"
            ><span class="text-errorred">GitHub</span></a
          >.
          </p>
        </blockquote>
        <!-- End Blockquote -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
    <!-- github api Section -->
    <div
      id="github"
      class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
    >
      <!-- Grid -->
      <div
        class="grid md:grid-cols-3 border shadow-sm rounded-xl overflow-hidden border-white"
      >
        <!-- github api -->
        <!-- github api -->
        <div
        class="block p-4 md:p-5 relative before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:first:bg-transparent bg-black hover:bg-white/5 before:bg-white focus:outline-none focus:ring-1 focus:ring-white"
      >
          <div class="flex md:grid lg:flex gap-y-3 gap-x-5">
            <i
              width="24"
              height="24"
              class="devicon-github-original flex-shrink-0 w-5 h-5 text-white"
            ></i>

            <div class="grow">
              <p
                class="text-xs uppercase tracking-wide font-medium text-white"
              >
                Total Public Repos
              </p>
              <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-successgreen">
                {{ publicRepos }}
              </h3>
            </div>
          </div>
        </div>
        <!-- End github api -->

        <!-- github api -->
        <div
        class="block p-4 md:p-5 relative before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:first:bg-transparent bg-black hover:bg-white/5 before:bg-white focus:outline-none focus:ring-1 focus:ring-white"
      >
          <div class="flex md:grid lg:flex gap-y-3 gap-x-5">
            <svg
              class="flex-shrink-0 w-5 h-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M21 11V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h6"
              />
              <path d="m12 12 4 10 1.7-4.3L22 16Z" />
            </svg>

            <div class="grow">
              <p
                class="text-xs uppercase tracking-wide font-medium text-white"
              >
                Projects Completed
              </p>
              <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-successgreen">
                13
              </h3>
            </div>
          </div>
        </div>
        <!-- End github api -->

        <!-- github api -->
        <div
        class="block p-4 md:p-5 relative before:absolute before:top-0 before:start-0 before:w-full before:h-px md:before:w-px md:before:h-full before:first:bg-transparent bg-black hover:bg-white/5 before:bg-white focus:outline-none focus:ring-1 focus:ring-white"
      >
          <div class="flex md:grid lg:flex gap-y-3 gap-x-5">
            <i
              class="pi pi-map flex-shrink-0 w-5 h-5 text-white"
              width="24"
              height="24"
            >
            </i>

            <div class="grow">
              <p
                class="text-xs uppercase tracking-wide font-medium text-white"
              >
                Things to Learn
              </p>
              <h3 class="mt-1 text-xl sm:text-2xl font-semibold text-successgreen">
                ∞
              </h3>
            </div>
          </div>
        </div>
        <!-- End github api -->
      </div>
      <!-- End Grid -->
    </div>
  </div>
</div>
<!-- End about me with Stats -->