<!-- cv Section -->
<div id="cv" class="flex justify-center items-center mt-20 md:mt-24 lg:mt-32 overflow-hidden pb-32">
  <div class="max-w-4xl mx-auto overflow-hidden">
    <h1 class="text-white font-fira-code text-center mb-10 text-2xl sm:text-3xl lg:text-4xl font-bold bg-clip-text">
      <span class="text-successgreen">3.0</span> CV
    </h1>

    <!-- Screenshot of cv -->
    <div class="flex justify-center items-center p-4">
      <!-- Link to open PDF in a new tab -->
      <a href="assets/pdf/Nirakash_CV.pdf" target="_blank">
        <img src="assets/images/cv.jpg" alt="CV Screenshot" class="shadow-lg rounded-lg w-3/5 mx-auto">
      </a>
    </div>

    <!-- Download Buttons -->
    <div class="flex justify-center mt-4">
      <!-- Button for the first CV download -->
      <!-- Add 'hidden sm:flex' to make it invisible on mobile and visible on tablets and larger screens -->
      <a href="assets/pdf/Nirakash_CV.pdf" download class="hidden sm:flex mr-2 border hover:text-successgreen hover:border-successgreen text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Download CV English
      </a>
      
      <!-- Button for the second CV download -->
      <!-- Add 'hidden sm:flex' to make it invisible on mobile and visible on tablets and larger screens -->
      <a href="assets/pdf/CV_Danish.pdf" download class="hidden sm:flex ml-2 border hover:text-successgreen hover:border-successgreen text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Download CV Danish
      </a>
    </div>
  </div>
</div>
<!-- End cv Section -->
