<!-- cv Section -->
<div id="cv" class="flex justify-center items-center mt-20 md:mt-24 lg:mt-32 overflow-hidden">
    <div class="max-w-4xl mx-auto overflow-hidden">
      <h1 class="text-white font-fira-code text-center mb-10 text-2xl sm:text-3xl lg:text-4xl font-bold bg-clip-text">
        <span class="text-successgreen">2.0</span> CV
      </h1>
  
      <!-- Screenshot of cv -->
      <div class="flex justify-center items-center p-4">
        <img src="/assets/cv.png" alt="CV Screenshot" class="shadow-lg rounded-lg w-1/2 mx-auto">
      </div>
    </div>
  </div>
  <!-- End cv Section -->
  